@font-face {
  font-family: "StarJedi";
  src: url(../fonts/Starjedi.ttf);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

.ff-sw {
  font-family: Starjedi, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  text-transform: lowercase;
}

.home-card-image {
  height: 300px;
  object-fit: cover;
  filter: blur(0.4rem) brightness(0.5);
}

.home-card-title {
  font-size: clamp(3rem, 2.6rem + 2vw, 5rem) !important;
  /* background-color: hsla(0, 0%, 0%, 0.5); */
}

.home-card {
  transition: 200ms ease;
  cursor: pointer;
}

.home-card:hover {
  scale: 1.05;
}

.card-view-image {
  height: 300px;
  object-fit: cover;
}
